body {
}
    .main_nav {
        margin: 20px;
        padding: 0px;
    }

    .main_nav .nav_1 {
        margin: 0px;
        padding: 0px;
    }

    .main_nav .nav_1 li {
        list-style-type: none;
        display: inline;
        float: left;
    } 